<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="epicorConnectionString" connectionString="Data Source=mverp;Initial Catalog=MIMDIST;user id=sa;password=mimi~100;" providerName="System.Data.SqlClient"/>
    <add name="MVIntConnectionString" connectionString="Data Source=mvint;Initial Catalog=PRODDIST;user id=sa;password=mimi~100;" providerName="System.Data.SqlClient"/>
    <add name="MVReportingConnectionString" connectionString="Data Source=MVReporting;Initial Catalog=PRODDIST;user id=sa;password=mimi~100;" providerName="System.Data.SqlClient"/>
    <add name="mverpmaterialinmotionincConnectionString" connectionString="Data Source=mverp;Initial Catalog=materialinmotioninc;user id=sa;password=mimi~100;" providerName="System.Data.SqlClient"/>
    <add name="mverpmaterialinmotionnlConnectionString" connectionString="Data Source=mverp;Initial Catalog=materialinmotionnetherlandsbv;user id=sa;password=mimi~100;" providerName="System.Data.SqlClient"/>
    <add name="mverpConnectionStringTest" connectionString="Data Source=mverp;Initial Catalog=testdist;user id=sa;password=mimi~100;" providerName="System.Data.SqlClient"/>
    <add name="epConnectionString" connectionString="Data Source=epicor;Initial Catalog=MIMDIST;user id=sa;password=mimi~100;" providerName="System.Data.SqlClient"/>
    <add name="epConnectionStringTest" connectionString="Data Source=epicor;Initial Catalog=testdist;user id=sa;password=mimi~100;" providerName="System.Data.SqlClient"/>
    <add name="epicorTESTConnectionString" connectionString="Data Source=mverp;Initial Catalog=TESTDIST;user id=sa;password=mimi~100;" providerName="System.Data.SqlClient"/>
    <add name="MVAPPSConnectionString" connectionString="Data Source=MVAPPS;Initial Catalog=CONTROLDB;user id=sa;password=mimi~100;Pooling=true;Max Pool Size=100;Min Pool Size=1;" providerName="System.Data.SqlClient"/>
    <add name="MVAPPSDataAnalysisConnectionString" connectionString="Data Source=MVAPPS;Initial Catalog=DataAnalysis;user id=sa;password=mimi~100;Pooling=true;Max Pool Size=100;Min Pool Size=1;" providerName="System.Data.SqlClient"/>
    <add name="MVReportsShopfloorConnectionString" connectionString="Data Source=MVReports;Initial Catalog=shopfloorDataAnalysis;user id=sa;password=mimi~100;Pooling=true;Max Pool Size=100;Min Pool Size=1;" providerName="System.Data.SqlClient"/>
    <add name="MVAPPSShopfloorConnectionString" connectionString="Data Source=MVAPPS;Initial Catalog=shopfloor;user id=sa;password=mimi~100;Pooling=true;Max Pool Size=100;Min Pool Size=1;" providerName="System.Data.SqlClient"/>
    <add name="ATAPPSShopfloorConnectionString" connectionString="Data Source=ATAPPS;Initial Catalog=MiscProj;user id=sa;password=mimi~100;Pooling=true;Max Pool Size=100;Min Pool Size=1;" providerName="System.Data.SqlClient"/>
    <add name="NLAPPSShopfloorConnectionString" connectionString="Data Source=NLAPPS;Initial Catalog=MiscProj;user id=sa;password=mimi~100;Pooling=true;Max Pool Size=100;Min Pool Size=1;" providerName="System.Data.SqlClient"/>
    <add name="Version3.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=mverp;Integrated Security=SSPI;Initial Catalog=MIMDIST" providerName="System.Data.OleDb"/>
    <add name="Version3.Properties.Settings.ConnectionString1" connectionString="Provider=SQLOLEDB;Data Source=EPICOR;Integrated Security=SSPI;Initial Catalog=MIMDIST" providerName="System.Data.OleDb"/>
    <add name="datarepeater.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=EPICOR;Initial Catalog=MIMDIST;user id=sa;password=mimi~100" providerName="System.Data.OleDb"/>
    <add name="epicorConnectionStringData" connectionString="Data Source=epicor;Initial Catalog=MIMDIST;user id=sa;password=mimi~100;" providerName="System.Data.SqlClient"/>
    <add name="mverpConnectionString" connectionString="Data Source=mverp;Initial Catalog=mimdist;user id=sa;password=mimi~100;" providerName="System.Data.SqlClient"/>
    <add name="mvFinanceConnectionString" connectionString="Data Source=mvfinance;Initial Catalog=mimfin;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="datarepeater.Properties.Settings.ConnectionString1" connectionString="Provider=SQLOLEDB;Data Source=mverp;Initial Catalog=MIMDIST;user id=sa;password=mimi~100;" providerName="System.Data.OleDb"/>
 <add name="mvEpicorConnectionString" connectionString="Data Source=mvepicor;Initial Catalog=proddist;Integrated Security=True" providerName="System.Data.SqlClient"/>
   
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
